.sidebar {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100vh;
    padding: 24px;
    background-color: #fff;
    border-right: 1px solid #eaeaea;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 40px;
}

.navigation {
    flex: 1; /* Це розтягне блок навігації, притиснувши футер донизу */
}

.navList {
    list-style: none;
    padding: 0;
}

.navItem {
    padding: 12px 0;
    cursor: pointer;
}

.sidebarFooter {
    margin-top: auto; /* Додаткова гарантія притискання до низу */
    padding-top: 20px;
    border-top: 1px solid #f0f0f0;
}

.footerText {
    font-size: 13px;
    color: #737373;
}